section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-div {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-items: center;
  background-color: #f3ebd5;
}

p {
  display: flex;
  align-items: flex-start;
}

.title {
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 25px;
  color: #edc8b9;
}

.about-us p {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 15px;
}
section.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: lightgray;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 70%;
  height: auto;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.998);

  background-color: #f7f9ed;
}
.button-ab {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 55px;
  color: aliceblue;
}
button {
  background-color: #c48397;
  color: white;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 5px;
  padding: 9px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #da9b99;
}
h1 {
  color: #c48397;
}

@media only screen and (max-width: 480px) {
  .button-ab {
    gap: 10px;
  }
}
