@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");

.get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  z-index: 1;
}

.get-started h3 {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 10px;
  color: #fff;
}

.get-started p {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff6d;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0057b3;
}
